.address-form-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-field{
    width: 100%;
    display: block;
    padding: 0.5rem;
    border-radius: 0.3rem;
    outline: none;
}

.overlay{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 13, 15, 0.18);
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 40%;
    position: relative;
    height: 80vh;
    overflow-y: auto;
    margin-top: 4rem;
}

.modal-close{
    font-size: 1.75rem;
    color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 12px;
}

.error-message{
    color: var(--error-color);
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
}

.error-icon{
    margin-right: 0.25rem;
    font-size: 1.25rem;
}

@media screen and (max-width:768px){
    .modal{
        width: 80%;
    }
} 