/* @import url("https://magnet-ui.netlify.app/magnet.css"); */
::-webkit-scrollbar {
  width: var(--size-8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--size-8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

.header-container {
  z-index: 10;
}

.main-container {
  grid-area: main;
  overflow-y: scroll;
  height: 92vh;
}

.main-title {
  text-align: center;
  font-size: 3.5rem;
  color: var(--secondary-color);
  margin: 2rem auto 0.5rem;
}

.main-description {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}
